*{
  margin:0;
  padding:0;
}
body{
  height: 200vh;
}

section{
  width: 100%;
  position: relative;
}
#header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border:none;
}
#section-1{
  height: 100vh;
  top: 0;
  background: #09214A;
  color: #fcfcfc;
}
#container-1{
  width: 700px;
  height: 250px;
  background: none;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -60%);
}
#heading{
  font-size: 45px;
  font-family: arial;
  font-weight: 400;
  color: #91FFC1;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
#description{
  font-size: 20px;
  font-family: segoe ui;
  font-weight: 400;
  width: 530px;
  height: auto;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom:0px;
  transform: translate(-50%);
}

#scroll-down{
  width: 200px;
  height: 80px;
  position: absolute;
  left: 50%;
  bottom: 15vh;
  transform: translate(-50%, 50%);
}
#scroll-down-lbl{
  font-size: 25px;
  font-family: arial;
  font-weight: 600;
  color: #FF8D8D;
  width: 100%;
  text-align: center;
}
#scroll-down-icon{
  width: 50px;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  fill:none;
  stroke: #fff;
  cursor: pointer;
  transition: 0.3s;
}
#scroll-down-icon:hover{
  stroke: #FF8D8D;
}
