#navigation-panel-2{
  display: block;
  width:100%;
  height:100px;
  position: absolute;
  top: 0;
  left:0;
  background-color:#EAE1E4;
}
#nav-2-logo{
  display: block;
  width: 200px;
  height:auto;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0,-50%);
}

#nav-2-btns-box{
  display: block;
  width: auto;
  height: 50%;
  position: absolute;
  top: 50%;
  right: 50px;
  background:transparent;
}

#nav-2-icon-bar{
  display: block;
  width: 120px;
  height: 50%;
  position: absolute;
  top: 0;
  right: 100px;
}


.index-nav-btns{
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  top: 50%;
  transform:translate(0,-50%);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-family:arial;
  font-weight: 400;
  background: transparent;
  border:none;
  cursor: pointer;
  transition: 0.2s;
}
.index-nav-btns:hover{
   color:#444444;
   transform: translate(0,-70%);
}






#nav-notification-icon{
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%,-50%);
  cursor:pointer;
  transition: 0s;
}
#nav-notification-icon:hover{
    fill:#EC604A;
}
#nav-msg-icon{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor:pointer;
  transition: 0s;
}
#nav-msg-icon:hover{
    stroke:#EC604A;
    fill:#EC604A;
}

#nav-profile-pic-icon{
  display: block;
  width: auto;
  height:35px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(50%,-50%);
  cursor:pointer;
  transition: 0.3s;
  border: 2px solid #FF5050;
  border-radius: 50px;
}
