.container{
  display:block;
  width:1200px;
  height:100%;
  position: absolute;
  top: 0;
  left:50%;
  transform:translate(-50%);
  background: none;
  /* border-left: 2px solid #000; border-right: 2px solid #000; */
}

/* .fontsIhave{
 font-family: 'Architects Daughter', cursive;
 font-family: 'Metal Mania', cursive;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-family: 'Josefin Sans', sans-serif;
 font-family: 'Montaga', serif;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Quicksand', sans-serif;
 font-family: 'Work Sans', sans-serif;
} */

#{
 /* font-family: 'Architects Daughter', cursive; */
 /* font-family: 'Metal Mania', cursive; */
 /* font-family: 'Montserrat', sans-serif; */
 /* font-family: 'Raleway', sans-serif; */
 /* font-family: 'Josefin Sans', sans-serif; */
 /* font-family: 'Montaga', serif; */
 /* font-family: 'Montserrat', sans-serif; */
 /* font-family: 'Open Sans', sans-serif; */
 /* font-family: 'Quicksand', sans-serif; */
 /* font-family: 'Work Sans', sans-serif; */
}
