@media (max-width:1200px) {
    #footer-btns-box{
      bottom: 10px;
      width: 100%;
      text-align: center;
    }
    #footer-copyright{
      left: 20px;
      bottom: 40px;
    }
    #footer-developer{
      right: 20px;
      bottom: 40px;
    }
}

@media (max-width:900px) {
  #footer-copyright{
    left: 20px;
  }
  #footer-developer{
    right: 20px;
  }
}


@media (max-width:700px) {
  #footer-copyright{
    bottom: 40px;
    width: 100%;
    text-align: center;
    left: 0;
  }
  #footer-developer{
    bottom: 60px;
    width: 100%;
    text-align: center;
    right: 0;
  }
  #footer-btns-box{
    bottom: 10px;
  }
}



@media (max-width:450px) {
    #footer-copyright{
      font-size:13px;
    }
    #footer-developer{
      font-size:13px;
    }
    .footer-btn{
      font-size: 10px;
      margin-left: 3px;
      margin-right: 3px;
    }
    #dev-heading{
      font-size: 15px;
    }
    #ypk-naming{
      font-size:40px
    }
    #email{
      font-size:15px;
    }
    #social-media-box{
      width: 330px;
    }

       #twitter-btn{
         left: 0;
       }
       #instagram-btn{
         left: 68px;
       }
       #github-btn{
         left: 127px;
       }
       #youtube-btn{
         left: 186px;
       }
       #linkedin-btn{
         left: 245px;
       }
       #facebook-btn{
         left: 304px;
       }
}

@media (max-width:360px) {
      .footer-btn{
        font-size: 8px;
        margin-left: 2px;
        margin-right: 2px;
      }



      #dev-heading{
        font-size: 13px;
      }
      #ypk-naming{
        font-size:35px
      }
      #email{
        font-size:13px;
      }
}
