@media (max-width:700px) {

.container{
  width:500px;
  /* border-left: 2px solid #fff;
  border-right: 2px solid #fff; */
}





  /* ////////////    Background Section 1    ///////////////// */
  #bg-sec-1{
    height: 1150px;
  }
  #bg-sec-1-elements{
    width: 500px;
    /* border-left: 2px solid #fff;
    border-right: 2px solid #fff; */
  }



    #heading-1{
         font-size: 50px;
         left: 20px;
    }
    #heading-2{
         font-size: 70px;
         left: 42%;
         top: 180px;
    }
    #naming-1{
      font-size: 80px;
      top: 250px;
      left: 40%;
    }
    #naming-2{
      font-size: 55px;
      top: 380px;
      left: 30%;
    }
    #naming-3{
      font-size: 80px;
      top: 450px;
      left: 35%;
    }
    #bg-sec-1-img{
      width: 280px;
      top: 180px;
      right: -10px;
    }





    /* ////////////    Background Section 2    ///////////////// */





    #bg-sec-2{

    }

    #bg-sec-2-img-1{
      width: 220px;
      top: 180px;
      left: 0px;
    }
    #bg-sec-2-txt-box{
      left: 220px;
      top: 150px;
      width: 260px;
    }
    #bg-sec-2-heading{
      font-size: 35px;
    }
    #bg-sec-2-txt{
      font-size: 15px;
    }
    #about-btn{
      left: 50%;
      transform: translate(-50%);
    }
    #about-btn-shadow{
      left: 50%;
      transform: translate(-50%);
    }






  /* ////////////    Background Section 3    ///////////////// */



      #bg-sec-3{
        background-image: url("../../Media/Theme-Elements/700/Theme-700-Element-2.svg");
        height: 900px;
      }

      #bg-sec-3-heading{
        top: 50px;
        font-size: 60px;
      }
      #underline-1{
        top: 120px;
      }

      #blogs-frame{
        width: 100%;
        height: 400px;
        display: inline-block;
        position: absolute;
        top: 45%;
        transform: translate(0,-50%);
        background: none;
        cursor: default;
        border:none;
      }
      .blogs-card-type-1{
        display: none;
      }


      /* ////////////    Background Section 4    ///////////////// */


      #bg-sec-4{
        height: 1000px;
      }

      #bg-sec-4-heading-1{
        font-size:90px;
      }
      #bg-sec-4-heading-2{
        font-size:50px;
        top: 40px;
      }
      .store-card-box{
        display: none;
      }

      #productsFrame{
        display: block;
        width: 100%;
        height: 600px;
        position: absolute;
        top: 150px;
        border:none;
      }

      #store-btn{
        bottom: 120px;
      }









      /* ////////////    Background Section 5    ///////////////// */


      #bg-sec-5{
        background-image:  url("../../Media/Backgrounds/YTStudio-right-align-2.png");
      }


        #YouTuber-icon{
          right: 120px;
          width: 150px;
        }














}
