@media (max-width:400px) {

  .container{
    width: 350px;
    /* border-left:2px solid #fff;
    border-right: 2px solid #fff; */
  }


  /* ////////////    Background Section 1    ///////////////// */


  #bg-sec-1{
    height: 1075px;
  }

#bg-sec-1-elements{
  width: 350px;
  /* border-left: 2px solid #fff;
  border-right: 2px solid #fff; */
}

#heading-1{
     font-size: 40px;
     left: 20px;
}
#heading-2{
     font-size: 45px;
     left: 42%;
}
#naming-1{
  font-size: 55px;
  letter-spacing: 1.5px;
  left: 35%;
}
#naming-2{
  font-size: 30px;
  top: 350px;
  left: 30%;
}
#naming-3{
  font-size: 50px;
  letter-spacing: 1.5px;
  top: 400px;
  left: 26%;
}
#bg-sec-1-img{
  width: 230px;
  top: 180px;
  right: -20px;
}








    /* ////////////    Background Section 5    ///////////////// */


                      #YouTuber-icon{
                        right: 150px;
                        width: 130px;
                      }



    /* ////////////    Background Section 6    ///////////////// */



                      #WebDev-portrait{
                        left: 0;
                        transform: translate(0);
                        width: 150px;
                        top: -300px;
                      }
                      #WebDev-box{
                        right: 0px;
                        top: -305px;
                        width: 200px;
                        height: 330px;
                      }




    /* ////////////    Background Section 7    ///////////////// */



                   #bg-sec-7{
                     height: 530px;
                   }
                      #graphics-designer-portrait{
                        width: 100%;
                      }
                      #graphics-heading{
                        display: none;
                      }
                      #graphics-heading2{
                        font-size: 55px;
                        left: 60px;
                        top: 260px;
                      }
                      #designer-heading{
                        left: -20px;
                        top: 330px;
                        font-size: 50px;
                        font-weight: 800;
                        transform:rotate(-80deg);
                      }



     /* ////////////    Background Section 9    ///////////////// */




                      .sec-9-container{
                        width: 100%;
                      }

                      #projects-more-btn-2{
                        width: 200px;
                        height: 45px;
                        font-size: 15px;
                      }


                        #sec-9-subsec-2-subheading{
                            font-size: 13px;
                        }
                        #sec-9-subsec-2-heading{
                            font-size: 30px;
                        }

                        #sec-9-subsec-2-text{
                          font-size: 15px;
                          width: 75%;
                          letter-spacing: 0.2px;
                          line-height: 30px;
                        }

                        #get-in-touch-msg-btn{
                          width: 200px;
                          height: 45px;
                          font-size: 15px;
                          top: 100px;
                        }



}
