@media (max-width:1200px) {



    .container{
      width: 900px;
    }



    /* ////////////    Background Section 1    ///////////////// */
    #bg-sec-1-elements{
      width: 900px;
    }


    /* ////////////    Background Section 2    ///////////////// */

    #bg-sec-2{
      background-image: url("../../Media/Theme-Elements/1200/Theme-1200-Element-1.svg");
      height: 800px;
    }

    #bg-sec-2-img-1{
      width: 380px;
      top: 100px;
      left: 20px;
    }
    #bg-sec-2-txt-box{
      left: 430px;
      top: 150px;
      width: 400px;
    }
    #about-btn{
      left: 550px;
    }
    #about-btn-shadow{
      left: 550px;
    }






/* ////////////    Background Section 3    ///////////////// */



    #bg-sec-3{
      top: -700px;
    }

    #bg-sec-3-heading{
      top: 50px;
    }
    #underline-1{
      top: 140px;
    }


    #blogs-card-type-1-1{
      top: 350px;
      left: 25%;
    }
    #blogs-card-type-1-2{
      top: 700px;
      left: 50%;
    }
    #blogs-card-type-1-3{
      top: 350px;
      left: 75%;
    }

    #blogs-btn{
      bottom: 250px;
    }




    /* ////////////    Background Section 4    ///////////////// */


    #bg-sec-4{
      top: -700px;
      height: 1350px;
    }
    #productsFrame{
      display: none;
    }

    #store-card-box-1{
      top: 400px;
      left: 25%;
    }
    #store-card-box-2{
      top: 900px;
      left: 50%;
    }
    #store-card-box-3{
      top: 400px;
      left: 75%;
    }

    #store-btn{
      bottom: 100px;
    }









    /* ////////////    Background Section 5    ///////////////// */


    #bg-sec-5{
      top: -700px;
    }


      #YouTuber-icon{
        right: 120px;
        width: 150px;
      }









      /* ////////////    Background Section 6    ///////////////// */


      #bg-sec-6{
        top: -700px;
      }
      #WebDev-portrait{
        width: 300px;
        top: -600px;
      }
      #WebDev-box{
        width: 500px;
        height: 370px;
        top: -300px;
      }
      #WebDev-txt{
        width: 85%;
      }

      #WebDev-more-btn{
        bottom: 20px;
        right: 50px;
      }






            /* ////////////    Background Section 7    ///////////////// */


            #bg-sec-7{
              top: -700px;
              height: 930px;
            }
            #graphics-designer-portrait{
              width: 600px;
              right: 0;
            }
            #graphics-heading{
              font-size: 100px;
              transform: rotateZ(5deg);
              left: 28px;
              top: 400px;
            }
            #designer-heading{
              left: 50px;
              top: 600px;
            }












          /* ////////////    Background Section 8    ///////////////// */


          #bg-sec-8{
            top: -700px;
            height: 1700px;
            background-image: url("../../Media/Theme-Elements/1200/Theme-1200-Element-3.svg");
          }

          #sec-8-profile-box{
            height: 1500px;
            top: 50px;
            left: 50px;
          }
          .profile-box-photo-box{
            display: block;
          }

                    #sec-8-social-media-box-1{
                      top: 350px;
                    }
                    #profile-box-photo-box-insta{
                      top: 355px;
                    }


                    #sec-8-social-media-box-2{
                      top: 370px;
                    }
                    #profile-box-photo-box-twitter{
                      top: 375px;
                      height: 220px;
                    }


                    #sec-8-social-media-box-3{
                      top: 390px;
                    }
                    #profile-box-photo-box-facebook{
                      top: 395px;
                      height: 220px;
                    }


                        #sec-8-profile-box-github-logo{
                          bottom: 80px;
                        }
                        #sec-8-profile-box-yt-logo{
                          bottom: 80px;
                        }
                        #sec-8-profile-box-linkedin-logo{
                          bottom: 70px;
                        }


          #sec-8-content-box{
            height: 1500px;
            top: 50px;
            right: 50px;
            width: 450px;
          }

                    #service-cards-1{
                      top: 150px;
                      left: 50%;
                      transform: translate(-50%);
                    }

                    #service-cards-2{
                      top: 300px;
                      left: 50%;
                      transform: translate(-50%);
                    }

                    #service-cards-3{
                      top: 450px;
                      left: 50%;
                      transform: translate(-50%);
                    }

                    #service-cards-4{
                      top: 600px;
                      left: 50%;
                      transform: translate(-50%);
                    }

                    #service-cards-5{
                      top: 750px;
                      left: 50%;
                      transform: translate(-50%);
                    }

                    #service-cards-6{
                      top: 900px;
                      left: 50%;
                      transform: translate(-50%);
                    }

                    #service-cards-7{
                      top: 1050px;
                      left: 50%;
                      transform: translate(-50%);
                    }

                    #service-cards-8{
                      top: 1200px;
                      left: 50%;
                      transform: translate(-50%);
                    }

                    .service-cards{
                      transition: 0.7s;
                    }
                    .service-cards:hover{
                      background: #FF7777;
                    }










          /* ////////////    Background Section 9    ///////////////// */


          #bg-sec-9{
            top: -700px;
            height: 2500px;
          }
          #projects-card-row-1{
            top:0;
          }
          #projects-card-row-2{
            display:block;
            top:28px;
          }
          #projects-card-row-3{
            top:56px;
          }

          #project-card-1{
            left: 29%;
          }
          #project-card-2{
            left: 71%;
          }

          #project-card-3{
            display: none;
          }
          #project-card-3point2{
            left: 29%;
          }

          #project-card-4{
            display: none;
          }
          #project-card-4point2{
            left: 71%;
          }

          #project-card-5{
            left: 29%;
          }
          #project-card-6{
            left: 71%;
          }

          #projects-more-btn{
            top: 120px;
          }



  /* ///////////////////////////////////// */


          #sec-9-subsec-2{
            top: 1700px;
          }











        /* ////////////    Background Section 9    ///////////////// */


        footer{
          top: 10366px;
        }

}
