@media (max-width:500px) {
    .container{
      width: 400px;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
    }


    /* ////////////    Background Section 1    ///////////////// */



  #bg-sec-1{
    height: 1110px;
  }
  #bg-sec-1-elements{
    width: 400px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }



      #heading-1{
           font-size: 40px;
           left: 40px;
      }
      #heading-2{
           font-size: 60px;
           left: 42%;
      }
      #naming-1{
        font-size: 60px;
        left: 40%;
      }
      #naming-2{
        font-size: 35px;
        top: 350px;
        left: 30%;
      }
      #naming-3{
        font-size: 50px;
        top: 400px;
        left: 30%;
      }
      #bg-sec-1-img{
        width: 250px;
        top: 180px;
        right: -10px;
      }





            /* ////////////    Background Section 2    ///////////////// */





        #bg-sec-2{

        }

        #bg-sec-2-img-1{
          width: 200px;
          top: 50px;
          left: 50%;
          transform: translate(-50%);
        }
        #bg-sec-2-txt-box{
          left: 220px;
          top: 300px;
          width: 300px;
          left: 50%;
          transform: translate(-50%);
        }
        #bg-sec-2-heading{
          font-size: 35px;
          text-align: center;
          width: 100%;
          top: 0;
        }
        #bg-sec-2-txt{
          font-size: 15px;
          top: 60px;
        }
        #about-btn{
          left: 50%;
          top: 550px;
          transform: translate(-50%);
        }
        #about-btn-shadow{
          left: 50%;
          top: 550px;
          transform: translate(-50%);
        }




        /* ////////////    Background Section 3    ///////////////// */


              #bg-sec-3-heading{
                top: 80px;
                font-size: 50px;
              }
              #underline-1{
                top: 130px;
                width: 150px;
              }



    /* ////////////    Background Section 4    ///////////////// */


                  #bg-sec-4-heading-1{
                    font-size:70px;
                    top: 30px;
                  }
                  #bg-sec-4-heading-2{
                    font-size:40px;
                    top: 60px;
                  }



    /* ////////////    Background Section 5    ///////////////// */


                      #YouTuber-icon{
                        right: 190px;
                        width: 130px;
                      }






}
