@media (max-width:900px) {



    .container{
      width: 700px;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
    }



    /* ////////////    Background Section 1    ///////////////// */
    #bg-sec-1{
      height: 1150px;
    }
    #bg-sec-1-elements{
      width: 700px;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
    }


    #heading-1{
         font-size: 60px;
    }
    #heading-2{
         font-size: 100px;
    }
    #naming-1{
      font-size: 110px;
      top: 250px;
      left: 40%;
    }
    #naming-2{
      font-size: 70px;
      top: 400px;
      left: 43%;
    }
    #naming-3{
      font-size: 100px;
      top: 470px;
      left: 38%;
    }
    #bg-sec-1-img{
      width: 300px;
      top: 130px;
    }





    /* ////////////    Background Section 2    ///////////////// */





    #bg-sec-2{

    }

    #bg-sec-2-img-1{
      width: 300px;
      top: 150px;
      left: 20px;
    }
    #bg-sec-2-txt-box{
      left: 320px;
      top: 130px;
      width: 350px;
    }
    #about-btn{
      left: 450px;
    }
    #about-btn-shadow{
      left: 450px;
    }



    /* ////////////    Background Section 3    ///////////////// */



        #bg-sec-3{

        }

        #bg-sec-3-heading{
          top: 10px;
          font-size: 60px;
        }
        #underline-1{
          top: 80px;
        }


        .blogs-card-type-1-title{
          top:220px;
        }
        .blogs-card-type-1-details{
          top:255px;
        }



        #blogs-card-type-1-1{
          top: 270px;
          left: 50%;
        }
        #blogs-card-type-1-2{
          top: 560px;
          left: 50%;
        }
        #blogs-card-type-1-3{
          top: 850px;
          left: 50%;
        }
        .blogs-card-type-1{
          width: 350px;
        }

        .blogs-card-type-1:hover{
          width: 380px;
          height: 220px;
        }

        #blogs-btn{
          bottom: 170px;
          width: 150px;
          height: 40px;
          font-size: 15px;
        }
        #blogs-btn:hover{
          font-size:20px;
          width: 160px;
          height: 45px;
        }
