@media (max-width:800px) {
  #header-landing{
    display: none;
  }
  #container-1{
    width: 500px;
    height: 200px;
  }
  #heading{
    font-size: 30px;
  }
  #description{
    font-size: 15px;
    width: 400px;
  }
}

@media (max-width:550px) {
  #container-1{
    width: 350px;
    height: 230px;
  }
  #heading{
    font-size: 22px;
  }
  #description{
    font-size: 13px;
    width: 300px;
  }

  #form-box{
    width: 300px;
  }
}
