*{
   margin:0;
   padding :0;
}

body{
  height: 200vh;
}
  nav{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  #nav-frame{
  width: 100%;
  height: 50px;
  border: none;
  }

  #menu-btn{
    display: none;
    width: 30px;
    height: 24px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
    transition: 0.3s;
  }
  .menu-btn-lines{
    display: block;
    width: 100%;
    border:2px solid #eee;
    outline: none;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  #menu-btn-line-1{
   top: 0;
  }
  #menu-btn-line-2{
   top: 50%;
   transform: translate(-50%, -50%);
  }
  #menu-btn-line-3{
   bottom: 0;
  }



  /* //////////////////////////////////////////////////////////////////////////////////// */



  #menu-Box{
    display: block;
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    transform: translate(-100%);
    transition: 0.5s;
  }
  #menu-box-frame{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    border:none;
  }
  #screenblocker{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
  }





/* ////////////////////////////////         The Main Body       //////////////////////////////////////////////////////////////// */



.container1{
  width: 100%;
  height: 100vh;
  max-width: 1100px;
  background: transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
  #sec-1{
    width: 100%;
    height: 100vh;
    background: #101010;
  }

  #sec-1-portait{
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
  }

  #sec-1-text-box{
    display: block;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50vh;
    right: 120px;
    transform: translate(0, -50%);
  }

  #sec-1-txt-1{
    font-size: 18px;
    color: #87FFDA;
    font-family: monospace;
    font-weight: normal;
    position: relative;
    top: 0;
  }

  #sec-1-txt-2{
    font-size: 55px;
    font-family: Segoe UI;
    font-weight: 700;
    position: relative;
    color: #f1f1f1;
  }

  #sec-1-txt-3{
    font-size: 50px;
    font-family: serif;
    font-weight: 400;
    color: #ffffff;
    opacity: 75%;
  }

  #view-my-work-btn{
    width: 155px;
    height: 45px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    text-height:100%;
    text-align: left;
    padding-left: 15px;
    position: absolute;
    left: 25%;
    bottom: 60px;
    transform:translate(-50%);
  }

  #view-my-work-btn-arrow{
    width: 20px;
    height: 18px;
    fill:none;
    stroke:#fff;
    stroke-width:2px;
    stroke-linecap: round;
    position: absolute;
    right: 15px;
  }
