
#main-nav-panel{
  background-color: #030D1E;
}
.nav-btns{
  color: #eee;
}
#m-nav-blogs-btn{
  color: #EC604A;
  font-weight: bold;
}

.nav-btns:hover{
   color:#999;
}

#m-nav-notification-icon{
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  fill:#fff;
  transform: translate(-50%,-50%);
  cursor:pointer;
  transition: 0.5s;
}
#m-nav-notification-icon:hover{
    fill:#EC604A;
}

#m-nav-msg-icon{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor:pointer;
  transition: 0.5s;
  fill:#fff;
  stroke:#fff;
}
#m-nav-msg-icon:hover{
    stroke:#EC604A;
    fill:#EC604A;
}
