*{
  padding:0;
  margin:0;
}

.main_div{
  width: 100%;
  height: 400px;
  display: inline-block;
  position: relative;
  background: transparent;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: default;
}
  .blogs-card-type-1{
    display: inline-block;
    width: 384px;
    height:216px;
    position: relative;
    top: 30px;
    transform: scale(0.97);
    background: #343434;
    transition: 0.3s;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .blogs-card-type-1:hover{
    transform: scale(1);
  }
  .blogs-card-type-1.active{
    cursor: grab;
  }
  .active{
    cursor: grab;
  }

  #blogs-card-type-1-1{
    background-image: url("../Media/blogs/thumbnails/love-blog-thumbnail.png");
  }
  #blogs-card-type-1-2{
    background-image: url("../Media/blogs/thumbnails/tech-blog-thumbnail.png");
  }
  #blogs-card-type-1-3{
    background-image: url("../Media/blogs/thumbnails/self-improve-blog-thumbnail.png");
  }

  .blogs-card-type-1-title{
    font-size: 20px;
    font-family: Segoe UI;
    font-weight:400;
    color: #ffffff;
    width:100%;
    text-align: center;
    position: absolute;
    top: 240px;
    left:0;
  }
  .blogs-card-type-1-details{
    display: block;
    font-size: 14px;
    font-family: SEGOE UI;
    font-weight : lighter;
    width: 100%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 275px;
    left: 0;
  }


  .more-card{
    width: 215px;
    height: 180px;
    top: 10px;
    background: #252525;
    color: #fff;
    stroke: #fff;
    stroke-width: 3px;
  }
  .more-card:hover{
     transform: scale(1);
     color: #C9C9C9;
     stroke: #C9C9C9;
     stroke-width:2px;
  }
  #more-card-txt{
    font-size: 30px;
    font-family: Segoe UI;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width:100%;
    text-align: center;
  }
  #external-redirect-more-card{
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 25px;
    height: 25px;
  }

  #right-arrow{
    display: block;
    width: 25px;
    height: 40px;
    fill: none;
    stroke: #FF6B4D;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 8px;
    position: fixed;
    bottom: 5px;
    right: 35%;
    transition: 0.5s;
  }
  #scroll-lbl{
    display: block;
    font-size: 25px;
    font-family: Segoe UI;
    font-weight: 700;
    position: fixed;
    bottom: 8px;
    text-align: center;
    width: 100%;
    color: #FF6B4D;
  }
  #left-arrow{
    display: block;
    width: 25px;
    height: 40px;
    fill: none;
    stroke: #FF6B4D;
    background: transparent;
    border:none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 8px;
    position: fixed;
    bottom: 5px;
    left: 35%;
    transition: 0.5s;
  }


  /* ScrollBar CSS */



  body{
    overflow-y: hidden;
    overflow-x: scroll;
  }



  ::-webkit-scrollbar {
      display: none;
  }
