*{
  margin:0;
  padding:0;
}


    footer{
      display: block;
      width: 100%;
      height: 350px;
      background: #22273E;
      color: #fff;
      position: absolute;
      left: 0;
      top: 0;
    }

    #dev-heading{
      font-size: 20px;
      font-family: monospace;
      font-weight:400;
      color: #99F9C6;
      text-transform: capitalize;
      letter-spacing: 3px;
      position: absolute;
      top: 40px;
      transition: 0.5s;
      width: 100%;
      text-align: center;
    }
    #ypk-naming{
      font-size: 45px;
      font-family: SEGOE UI;
      font-weight: bold;
      color: #cbcbcb;
      position: absolute;
      top: 70px;
      transition: 0.5s;
      width: 100%;
      text-align: center;
    }
    #email{
      font-size: 20px;
      font-family: Segoe UI;
      font-weight: 500;
      color: #cbcbcb;
      position: absolute;
      top: 140px;
      transition: 0.7s;
      cursor: pointer;
      transition: 0.5s;
      width: 100%;
      text-align: center;
    }
    #email:hover{
      color: #99F9C6;
    }


            #social-media-box{
              display: block;
              width: 380px;
              height: 29px;
              position: absolute;
              top: 200px;
              left: 50%;
              transform: translate(-50%);
              /* border:2px solid black; */
              transition: 0.5s;
            }

              .social-media-btn{
                display: inline-block;
                position: absolute;
                top: 50%;
                transition: 0.5s;
                cursor:pointer;
                transform: translate(0,-50%)
              }
                  #twitter-btn{
                    width: 48px;
                    height: 48px;
                    fill:#777;
                  }
                  #twitter-btn:hover{
                    fill:#00acee;
                  }

                  #instagram-btn{
                    width: 29px;
                    height: 29px;
                    left: 78px;
                    background-image: url('../Media/icons/Brand-Icons/Insta-logo-gray.svg');
                    background-size: cover;
                    transition: 0.7s;
                  }
                  #instagram-btn:hover{
                    background-image: url('../Media/icons/Brand-Icons/Instagram.png');
                    stroke:none;
                  }

                  #github-btn{
                    width: 29px;
                    height: auto;
                    left: 147px;
                    fill:#707070;
                  }
                  #github-btn:hover{
                    fill:#ffffff;
                  }

                  #youtube-btn{
                    width: 29px;
                    height: auto;
                    fill:#707070;
                    left: 216px;
                  }
                  #youtube-btn:hover{
                    fill:#ee3124;
                  }

                  #linkedin-btn{
                    font-size: 33px;
                    font-family: segoe ui;
                    font-weight: 700;
                    color:#777;
                    left: 285px;
                    transform: translate(0, -55%);
                  }
                  #linkedin-btn:hover{
                    color: #1AABF1;
                  }

                  #facebook-btn{
                    width: 29px;
                    height: auto;
                    left: 354px;
                    fill:#777;
                  }
                  #facebook-btn:hover{
                    fill: #5A8FFF;
                  }

      #footer-btns-box{
        display: block;
        width:auto;
        height: 20px;
        background: transparent;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        transition: 0.5s;
      }
      .footer-btn{
        display: inline-block;
        font-size: 11px;
        font-family: Segoe UI;
        font-weight: 400;
        color: #fff;
        position: relative;
        top: 0px;
        margin-left: 5px;
        margin-right: 4px;
        margin-top: 0px;
        margin-bottom: 0px;
        transition: 0.5s;
        cursor: pointer;
        outline:none;
      }
      .footer-btn:hover{
        color: #00FFA0;
      }
      .footer-btns-line{
        display: inline;
        width: 20px;
        border: 1px solid #fff;
        position: relative;
        top: 0px;
        transform: rotate(90deg);
      }
      #footer-copyright{
        font-size: 13px;
        font-family: Segoe UI Emoji;
        font-weight: 400;
        position: absolute;
        left: 20px;
        bottom: 10px;
        transition: 0.5s;
      }
      #footer-developer{
        font-size: 13px;
        font-family: Segoe UI Emoji;
        font-weight: 400;
        position: absolute;
        right: 20px;
        bottom: 10px;
        transition: 0.5s;
      }
