*{
  padding:0;
  margin:0;
  -webkit-tap-highlight-color: transparent;
}

.main_div{
  width: 100%;
  height: 600px;
  display: inline-block;
  position: relative;
  background: transparent;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: default;
}


.store-card-box{
  display: inline-block;
  width: 330px;
  height:330px;
  position: relative;
  transform: scale(0.95);
  top: 30px;
  background: #515151;
  cursor: pointer;
  transition: 0.3s;
  background-size: cover;
  background-position: center;
  margin:7.5px;
}
.store-card-box:hover{
  transform: scale(1);
}
.store-card-title{
  display: block;
  font-size: 20px;
  font-family:Segoe UI;
  font-weight: 400;
  position: absolute;
  top: 370px;
  left: 0;
  width:100%;
  text-align: center;
}
.store-card-price{
  display: block;
  font-size: 25px;
  font-family:Segoe UI;
  font-weight: bold;
  position: absolute;
  top: 410px;
  left: 0;
  width:100%;
  text-align: center;
  color: #FF3400;
}


#store-card-box-1{
  background-image: url("../Media/Store/tshirt-black.png");
}
#store-card-box-2{
  background-image: url("../Media/Store/WebApplication-thumbnail.png");
}
#store-card-box-3{
  background-image: url("../Media/Store/tshirt-influenza-white.png");
}





.more-card{
  width: 330px;
  height: 300px;
  top: 15px;
  background: #252525;
  color: #fff;
  stroke: #fff;
  stroke-width: 3px;
}
.more-card:hover{
   transform: scale(1);
   color: #C9C9C9;
   stroke: #C9C9C9;
   stroke-width:2px;
}
.blogs-card-type-1.active{
  cursor: grab;
}
.active{
  cursor: grab;
}
#more-card-txt{
  font-size: 30px;
  font-family: Segoe UI;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  width:100%;
  text-align: center;
}
#external-redirect-more-card{
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 25px;
  height: 25px;
}



#right-arrow{
  display: block;
  width: 25px;
  height: 40px;
  fill: none;
  stroke: #FF6B4D;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8px;
  position: fixed;
  bottom: 5px;
  right: 35%;
  transition: 0.5s;
}

#scroll-lbl{
  display: block;
  font-size: 25px;
  font-family: Segoe UI;
  font-weight: 700;
  position: fixed;
  bottom: 8px;
  text-align: center;
  width: 100%;
  color: #FF6B4D;
}
#left-arrow{
  display: block;
  width: 25px;
  height: 40px;
  fill: none;
  stroke: #FF6B4D;
  background: transparent;
  border:none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8px;
  position: fixed;
  bottom: 5px;
  left: 35%;
  transition: 0.5s;
}








body{
  overflow-y: hidden;
  overflow-x: scroll;
}



::-webkit-scrollbar {
    display: none;
}
