
body{
  height: 350px;
  width: auto;
}
*{
  margin:0;
  padding:0;
}
.projects-card-row{
  display: inline-block;
  width: 100%;
  height: 400px;
  position: relative;
  background-color: none;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: default;
}
.projects-card-row.active{
  cursor: grab;
}
        .projects-card{
            display: inline-block;
            width: 330px;
            height: 350px;
            position: relative;
            background-color: #152541;
            border-radius: 7px;
            transition: 0.3s;
            white-space: normal;
          }
          .projects-card:hover{
            background: #1E4282;
          }
          .project-card-1{
            left: 15px;
          }
          .project-card-2{
            left: 30px;
          }
          .project-card-3{
            left: 45px;
          }


          .project-card-4{
            left: 60px;
          }
          .project-card-5{
            left: 75px;
          }
          .project-card-6{
            left: 90px;
          }


          .projects-card-heading{
            font-size: 22px;
            font-family: Arial;
            font-weight: bold;
            color: #E5F2FF;
            position: absolute;
            top: 60px;
            margin-left: 30px;
            margin-right: 30px;
            line-height: 30px;
          }
          .projects-card-description{
            font-size: 15px;
            font-family: Arial;
            font-weight: 400;
            color: #C5E1FF;
            position: absolute;
            top: 140px;
            margin-left: 30px;
            margin-right: 30px;
            line-height: 22px;
            letter-spacing: 0.5px;
          }






          #projects-more-card{
            display: inline-block;
            width: 215px;
            height: 215px;
            position: relative;
            left: 105px;
            top: -50%;
            transform: translate(0,50%);
            background-color: #343434;
            color: #fff;
            transition: 0.5s;
            cursor: pointer;
          }
          #projects-more-card:hover{
            background: #575757;
          }
          #projects-more-card-heading{
            position: absolute;
            font-size: 30px;
            font-family: 'Josefin Sans', sans-serif;
            top: 50%;
            transform: translate(0,-50%);
            width: 100%;
            text-align: center;
          }
