@media (max-width:1100px) {
     .nav-btns{
       margin-left: 5px;
       margin-right: 5px;
     }
}
@media (max-width:1000px) {
     .nav-btns{
       margin-left: 3px;
       margin-right: 3px;
       font-size: 16px;
     }
}
@media (max-width:850px) {
      .nav-btns{
        font-size: 15px;
      }
      #main-nav-btns-box{
        left: 45%;
      }
}

@media (max-width:800px) {

      #main-nav-btns-box{
        display: none;
      }
      #main-nav-logo{
        left: 50%;
        transform: translate(-50%,-50%);
      }
      #nav-more-btn{
        display: block;
        width: 25px;
        height: 20px;
        background:transparent;
        position: absolute;
        top: 15px;
        left: 20px;
        cursor: pointer;
      }
      .nav-more-btn-hr{
        display: inline-block;
        width: 100%;
        border:2px solid #404040;
        position: absolute;
        left: 0;
        border-radius: 5px;
      }
      #nav-more-btn-hr-1{
        top: 0;
      }
      #nav-more-btn-hr-2{
        top: 50%;
        transform: translate(0, -50%);
      }
      #nav-more-btn-hr-3{
        bottom: 0;
      }

      #m-nav-icon-bar{
        right: 30px;
        width: 100px;
      }
}


@media (max-width:500px) {
      #m-nav-notification-icon{
        display: none;
      }
      #m-nav-msg-icon{
        display: none;
      }
}
